$color: #98af40;

* {
  font-family: -apple-system, BlinkMacSystemFont, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif
}

html {
  font-size: 10px;
}
.book-header .btn {
  color: lighten(#98af40, 30%);
  transition: all 500ms;
  height: 37px;
  line-height: 37px;
}

.book-header {
  width: 100%;
  position: fixed;
  height: 37px;
}

.page-wrapper {
  padding-top: 50px;
}

i.fa.fa-font {
  display: none;
}

.book-header .btn:hover {
  color: #98af40;
}

.alert {
  margin: 2rem 1rem;
  border-radius: 1rem;
  border-bottom: initial;
}

.hints-container p {
  margin-bottom: 0;
}

.markdown-section h1 {
  color: #98af40;
  font-size: 4rem;
  margin-top: 0;
}

.markdown-section h2 {
  color: #5e7a8c;
  padding: 0 2rem;
  background: #f7fbfd;
  border: 1.5px solid #5e7a8c;
}

.markdown-section h3 {
  color: #718a09;
  padding-bottom: 0;
  border-bottom: 1.5px solid;
  margin-top: 5rem;
}

.markdown-section h4:before {
  content: '';
  display: inline-block;
  position: relative;
  width: .8em;
  height: .8em;
  margin-right: 0.3em;
  background: #555;
}

.markdown-section h4 {
  color: #555;
  margin-top: 3rem;
}

.markdown-section table td {
  min-width: 6vw;
}

.markdown-section table {
  width: 97%;
  margin: 3rem 0 3rem 3%;
}

.markdown-section img {
  background: initial;
  box-shadow: initial;
  filter: drop-shadow(2px 4px 6px black);
}

.markdown-section img:hover {
  box-shadow: initial;
}

th {
  background: #989898;
  color: #fff;
}

.markdown-section table td, .markdown-section table th {
  border: 1px solid #595959!important;
}

span.chapter {
  padding-right: .5em;
}

.book-header {
  color: #98af40;
}

.book .book-summary .book-logo {
  height: 51px;
  padding: 10px;
}

.markdown-section hr {
  margin: 0;
  background-color: initial;
  counter-reset: item;
}

.markdown-section {
  ol {
    padding-left: 1rem;
    list-style-type: none;
    ul {
      list-style-type: disc;
      text-indent: 0;
    }
  }

  img {
    padding: 1rem 0;
  }

  ol > li:before {
    content: counter(item)'.';
    padding-right: .5rem;
    color: #31708f;
    font-size: 2rem;
    font-weight: bold;
  }

  ol > li {
    counter-increment: item;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    text-indent: -2rem;
    padding-left: 2rem;
    div {
      text-indent: 0;
    }
  }

  ol > li > p:first-child {
    display: inline;
  }

  td .alert {
    margin: 1rem;
  }

  .hints-icon {
    padding-right: 0.8rem;
  }
} 

.markdown-section>:first-child {
  margin-top: 3rem!important;
}

.page-inner {
  padding: 0px 270px 40px 60px;
  max-width: 1200px;
}

.book-header h1 {
  line-height: 37px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .book-summary, .book-body {
    top: 121px;
  }
  .header-inner {
    height: 120px;
  }
  .page-inner {
    padding: 0 20px 0 60px;
  }
  // .book-header h1 {
  //    display: initial;
  // }
}

.header-inner #book-search-input input[type="text"] {
  width: calc(100% - 60px);
}

.book-summary {
  background: #f5f9f6;
}

.book-summary ul.summary li a:hover {
  color: #00aa0e;
}

.book-summary ul.summary li a {
  transition: .2s;
}
.book-summary ul.summary li.active>a {
  color: #fff;
}

.header-inner #book-search-input {
  color: #90b022;
}

.book-anchor .selected {
  color: #90b022;
}

.book-anchor a:hover {
  color: lighten(#90b022, 30%);
}

.book-anchor {  
  width: 220px;
}

.book-header:hover {
  background: #f5f7f9;
}

.book-header h1 {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 600px) {
  .book-header h1 {
    width: calc(100% - 300px);
  }
}

@media (min-width: 1000px) {
  .book-header h1 {
    display: initial;
  }
}

@media (max-width: 1000px) {
  .book-anchor {  
    display: none;
  }
  .page-inner {
    padding: 0px 20px 40px 60px;
  }
}

.book-anchor-title {
  cursor: none;
  color : #98af40;
  font-weight: bold;
}

.header-inner {
  border-bottom: 1px solid #ddd!important;
}

.header-inner .logo {
  background: url(image/logo.svg) 0% 0% / 170px 50px no-repeat;
  width: 170px;
}

.header-inner .title {
  font-size: 1.1em;
  line-height: 52.5px;
  margin-left: 1.5em;
  padding-left: 1.5em;
  color: #878787;
  border-left: 1px solid #e6e6e6;
}

.book-summary ul.summary li a:hover {
  color: #98af40;
}
.book-summary ul.summary li.active {
  border-right: 3px solid #718a09;
  background: #bcce70;
}

.header-inner #book-search-input {
  background: #98af40;
}
